*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px.

}

body {
  box-sizing: border-box;
   max-width: 144rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Overpass', sans-serif;
  line-height: 1.6;
  
  
 
  

  
}

*:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(241, 51, 76, 0.5);
}
