@use "../custom" as *;

.design {
  max-width: 144rem;
  overflow: hidden;
  height: 95vh;
  color: $very-dark-gray;
  padding-top: 10rem;
  margin: 5rem 0 5rem;

  &__heading-secondary {
    text-align: center;
    font-size: $heading-secondary;
    font-weight: 600;
    letter-spacing: -0.15rem;
    margin-bottom: 8rem;
  }

  &__row-box {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__heading-tertiary {
    font-size: $heading-tertiary;
    margin-bottom: 2rem;
  }

  &__col-1 {
    width: 35%;
    margin-left: 10vw;
  }

  &__text-col-1 {
    // margin-bottom: 7rem;
  }
  &__text-col-1:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__text {
    color: $dark-gray;
    line-height: 1.6;
  }

  &__text-col-2 {
  }

  &__col-2 {
    position: absolute;
    right: -19%;
    max-width: 64%;
  }

  &__col-2-img {
    height: 100%;
    width: 100%;

    &--desktop {
    }
    &--mobile {
      display: none;
    }
  }

  // &__illustration-col-2 {

  img {
    // }
  }
}

// MOBILE ILLSUTRATION
.mobile {
  position: relative;
  max-width: 144rem;
  margin-bottom: 15rem;

  &__row-box {
    // position: relative;
  }

  &__pattern-box {
    background: $mobile-gradient;
    height: 40rem;
    border-bottom-left-radius: $bg-radius;
    border-top-right-radius: $bg-radius;
    position: relative;
    overflow: hidden;
  }

  &__illustration-pattern {
    position: absolute;
    top: -52vh;
    left: -14vw;
    transition: all 1.8s;
  }

  &__mobile-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: -18%;
    left: 5%;
  }

  &__col-1 {
    max-width: 55.2rem;
    max-height: 57.9rem;
  }

  &__illustration-mobile {
    width: 100%;
    height: auto;
  }

  &__col-2 {
    margin: 0 auto 3rem;
    padding-right: 2rem;
    color: $white;
    width: 40%;
  }

  &__tertiary {
    font-size: $heading-secondary;
    letter-spacing: -0.1rem;
    font-weight: 600;
    margin-bottom: 3rem;
    line-height: 1;
    // white-space: nowrap;
  }

  &__text {
    line-height: 2;
  }
}

// LAPTOP ILLUSTRATION
.laptop {
  max-width: 144rem;
  height: 95vh;
  overflow: hidden;
  position: relative;

  &__row-box {
    display: flex;
    align-items: center;
    position: absolute;
    left: -27rem;
  }

  &__col-1 {
    max-width: 97.4rem;
    
    max-height: 78.6rem;

  }

  &__img-col-1 {
    width: 100%;
    height: auto;
    &--desktop {
    }
    &--mobile {
      display: none;
    }
  }

  &__heading-tertiary {
    font-size: $heading-tertiary;
    margin-bottom: 2rem;
  }

  &__col-2 {
    width: 30%;
    margin: 0 13vw 0 3vw;
  }

  &__text-col-2 {
  }
  &__text-col-2:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__text {
    color: $dark-gray;
    line-height: 1.6;
  }

  &__text-col-1 {
  }
}
