@use "../custom" as *;

.design {
  max-width: 144rem;
  overflow: hidden;
  margin-top: 7rem;

  &__heading-secondary {
    font-size: $heading-secondary;
    font-weight: 600;
    letter-spacing: -0.15rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 12rem;
    margin: 0 2rem;
    text-align: center;
  }

  &__row-box {
    display: flex;
    align-items: center;
    margin-right: -21%;
    margin-bottom: 10rem;
  }

  &__heading-tertiary {
    font-size: $heading-tertiary;
    margin-bottom: 2rem;
    line-height: 1.2;
  }

  &__col-1 {
    max-width: 45%;
    margin-top: 3rem;
  }

  &__text-col-1 {
    margin: 3rem 10% 7rem 26%;
  }

  &__text {
    color: $dark-gray;
    line-height: 1.6;
  }

  &__col-2 {
    margin-top: -12rem;
    max-height: 88.2rem;
    max-width: 92.5rem;
  }

  &__col-2-img {
    height: 100%;
    width: 100%;

    &--desktop {
    }
    &--mobile {
      display: none;
    }
  }
}

// MOBILE ILLSUTRATION
.mobile {
  position: relative;
  max-width: 144rem;
  margin-bottom: 15rem;

  &__pattern-box {
    background: $mobile-gradient;
    height: 40rem;
    border-bottom-left-radius: $bg-radius;
    border-top-right-radius: $bg-radius;
    position: relative;
    overflow: hidden;
  }

  &__illustration-pattern {
    position: absolute;
    top: -52vh;
    left: -14vw;
    transition: all 1.8s;
  }

  &__mobile-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: -18%;
    left: 5%;
  }

  &__col-1 {
    max-width: 55.2rem;
    max-height: 57.9rem;
  }

  &__illustration-mobile {
    width: 100%;
    height: auto;
  }

  &__col-2 {
    margin: 0 auto 3rem;
    padding-right: 2rem;
    color: $white;
    width: 40%;
  }

  &__tertiary {
    font-size: $heading-secondary;
    letter-spacing: -0.1rem;
    font-weight: 600;
    margin-bottom: 3rem;
    line-height: 1.2;
  }

  &__text {
    line-height: 2;
  }
}

// LAPTOP ILLUSTRATION
.laptop {
  max-width: 144rem;
  overflow: hidden;
  margin-top: 7rem;

  &__row-box {
    display: flex;
    align-items: center;

    margin-left: -18%;
    margin-bottom: 10rem;
  }

  &__col-1 {
    max-width: 97.4rem;

    max-height: 78.6rem;
  }

  &__img-col-1 {
    width: 100%;
    height: auto;
    &--desktop {
    }
    &--mobile {
      display: none;
    }
  }

  &__heading-tertiary {
    font-size: $heading-tertiary;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
  }

  &__col-2 {
    max-width: 45%;
    margin-top: 3rem;
  }

  &__text-col-2 {
    margin: 0 26% 7rem 10%;
  }

  &__text {
    color: $dark-gray;
    line-height: 1.6;
  }
}
