@use "../custom" as *;
@use "../mixins" as *;

.footer {
  max-width: 144rem;
  width: 100%;
  min-height: 36rem;
  background-color: $very-dark-gray;
  border-top-right-radius: $bg-radius;
  display: grid;
  place-items: center;
  padding: 5rem 12rem 3rem;
  position: relative;
  

  &__row-box {
    display: grid;
    // max-width: 110.8rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    width: 100%;
    color: $white;
    margin: 0 auto;

    // position: relative;
  }

  &__logo-col {
   margin-bottom: 3rem;
  }

  &__logo-img {
  }

  &__heading-fourth {
    margin-bottom: 3rem;
  }

  &__nav-col {
    margin-bottom: 3rem;
  }

  &__nav-list {
    list-style: none;
    position: relative;
    width: fit-content;

    cursor: pointer;

    &::before {
      @include linkHover;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  &__nav-item {
    margin-bottom: 0.9rem;

    a {
      text-decoration: none;
      color: $light-gray;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%);

  a {
    color: $light-gray;
    text-decoration: none;
    position: relative;

    &::before {
      @include linkHover;
      top: 1.2rem;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}
